.slide {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide .group-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 9720px;
}

.slide .group {
  position: relative;
  width: 2299px;
  height: 9720px;
  left: -379px;
}

.slide .desktop {
  top: 0;
  left: 379px;
  background-color: #000483;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .overlap-group {
  position: relative;
  height: 1059px;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.slide .vector {
  position: absolute;
  width: 1920px;
  height: 688px;
  top: 0;
  left: 0;
}

.slide .text-wrapper {
  position: absolute;
  width: 889px;
  top: 366px;
  left: 388px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000482;
  font-size: 80px;
  letter-spacing: -2.4px;
  line-height: 96px;
  white-space: nowrap;
}

.slide .div {
  position: absolute;
  top: 483px;
  left: 388px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #b8ecff;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 38.4px;
  white-space: nowrap;
}

.slide .overlap-wrapper {
  top: 1080px;
  left: 379px;
  background-color: #000483;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .overlap {
  position: relative;
  width: 1918px;
  height: 922px;
  top: 158px;
  left: 1px;
}

.slide .text-wrapper-2 {
  position: absolute;
  top: 196px;
  left: 1083px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #b8ecff;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: 57.6px;
  white-space: nowrap;
}

.slide .overlap-2 {
  position: absolute;
  width: 1918px;
  height: 922px;
  top: 0;
  left: 0;
}

.slide .p {
  position: absolute;
  width: 474px;
  top: 274px;
  left: 1083px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #3fd8ff;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 38.4px;
}

.slide .firefly {
  position: absolute;
  width: 680px;
  height: 765px;
  top: 0;
  left: 343px;
  object-fit: cover;
}

.slide .img {
  position: absolute;
  width: 1918px;
  height: 621px;
  top: 301px;
  left: 0;
}

.slide .overlap-group-wrapper {
  top: 2160px;
  left: 379px;
  background-color: #000483;
  overflow: hidden;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .overlap-3 {
  position: relative;
  width: 1926px;
  height: 1080px;
}

.slide .frame {
  position: absolute;
  width: 1538px;
  height: 602px;
  top: 341px;
  left: 388px;
}

.slide .div-wrapper {
  position: absolute;
  width: 372px;
  height: 602px;
  top: 0;
  left: 0;
}

.slide .overlap-group-2 {
  position: relative;
  width: 368px;
  height: 602px;
  background-image: url(./img/image.svg);
  background-size: 100% 100%;
}

.slide .text-wrapper-3 {
  position: absolute;
  width: 111px;
  top: 350px;
  left: 128px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 25px;
  letter-spacing: -1.25px;
  line-height: 40px;
  white-space: nowrap;
}

.slide .text-wrapper-4 {
  position: absolute;
  width: 310px;
  top: 397px;
  left: 29px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #1a60d9;
  font-size: 18px;
  letter-spacing: -0.9px;
  line-height: 28.8px;
}

.slide .overlap-4 {
  position: absolute;
  width: 269px;
  height: 302px;
  top: 40px;
  left: 49px;
  background-color: #279af8;
  border-radius: 31px;
  background-image: url(./img/firefly-99200-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.slide .group-2 {
  position: absolute;
  width: 374px;
  height: 602px;
  top: 0;
  left: 388px;
}

.slide .overlap-5 {
  position: relative;
  width: 368px;
  height: 602px;
  background-image: url(./img/rectangle-7-3.svg);
  background-size: 100% 100%;
}

.slide .overlap-group-3 {
  position: absolute;
  width: 281px;
  height: 32px;
  top: 350px;
  left: 43px;
}

.slide .text-wrapper-5 {
  position: absolute;
  width: 281px;
  top: 0;
  left: 0;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 25px;
  letter-spacing: -1.25px;
  line-height: 40px;
  white-space: nowrap;
}

.slide .rectangle {
  position: absolute;
  width: 269px;
  height: 302px;
  top: 40px;
  left: 49px;
  background-color: #279af8;
  border-radius: 31px;
}

.slide .overlap-6 {
  position: absolute;
  width: 372px;
  height: 602px;
  top: 0;
  left: 776px;
}

.slide .overlap-7 {
  position: relative;
  width: 368px;
  height: 602px;
  background-image: url(./img/rectangle-7.svg);
  background-size: 100% 100%;
}

.slide .text-wrapper-6 {
  position: absolute;
  width: 64px;
  top: 350px;
  left: 152px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 25px;
  letter-spacing: -1.25px;
  line-height: 40px;
  white-space: nowrap;
}

.slide .firefly-2 {
  position: absolute;
  width: 269px;
  height: 302px;
  top: 40px;
  left: 49px;
  object-fit: cover;
}

.slide .firefly-3 {
  position: absolute;
  width: 269px;
  height: 302px;
  top: 381px;
  left: 825px;
  object-fit: cover;
}

.slide .vector-2 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}

.slide .rectangle-2 {
  position: absolute;
  width: 756px;
  height: 111px;
  top: 161px;
  left: 582px;
  background-color: #b8ecff;
  border-radius: 20px;
}

.slide .text-wrapper-7 {
  position: absolute;
  top: 172px;
  left: 720px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #1a60d9;
  font-size: 55px;
  text-align: center;
  letter-spacing: -2.75px;
  line-height: 88px;
  white-space: nowrap;
}

.slide .ellipse {
  position: absolute;
  width: 80px;
  height: 115px;
  top: 920px;
  left: 297px;
  background-color: #1a60d9;
  border-radius: 40px / 57.5px;
}

.slide .desktop-2 {
  top: 3240px;
  left: 379px;
  background-color: #000483;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .overlap-8 {
  position: relative;
  height: 1080px;
}

.slide .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 337px;
  left: 392px;
}

.slide .group-3 {
  position: relative;
  width: 372px;
  height: 609px;
}

.slide .overlap-group-4 {
  position: relative;
  width: 368px;
  height: 609px;
  background-image: url(./img/rectangle-7-5.svg);
  background-size: 100% 100%;
}

.slide .text-wrapper-8 {
  position: absolute;
  width: 244px;
  top: 354px;
  left: 62px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 38.4px;
  white-space: nowrap;
}

.slide .text-wrapper-9 {
  position: absolute;
  width: 310px;
  top: 401px;
  left: 29px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #1a60d9;
  font-size: 17px;
  letter-spacing: -0.85px;
  line-height: 27.2px;
}

.slide .rectangle-3 {
  position: absolute;
  width: 269px;
  height: 305px;
  top: 40px;
  left: 49px;
  background-color: #279af8;
  border-radius: 31px;
}

.slide .overlap-9 {
  position: relative;
  width: 368px;
  height: 609px;
  background-image: url(./img/rectangle-7-2.svg);
  background-size: 100% 100%;
}

.slide .text-wrapper-10 {
  position: absolute;
  top: 354px;
  left: 132px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 24px;
  text-align: center;
  letter-spacing: -1.2px;
  line-height: 38.4px;
  white-space: nowrap;
}

.slide .group-4 {
  position: relative;
  width: 372px;
  height: 609px;
  margin-right: -4px;
}

.slide .overlap-10 {
  position: relative;
  width: 368px;
  height: 609px;
  background-image: url(./img/rectangle-7-4.svg);
  background-size: 100% 100%;
}

.slide .text-wrapper-11 {
  position: absolute;
  width: 106px;
  top: 351px;
  left: 131px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 24px;
  letter-spacing: -1.2px;
  line-height: 38.4px;
  white-space: nowrap;
}

.slide .text-wrapper-12 {
  position: absolute;
  width: 310px;
  top: 404px;
  left: 29px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #1a60d9;
  font-size: 17px;
  letter-spacing: -0.85px;
  line-height: 27.2px;
}

.slide .rectangle-4 {
  position: absolute;
  width: 756px;
  height: 111px;
  top: 157px;
  left: 582px;
  background-color: #b8ecff;
  border-radius: 20px;
}

.slide .firefly-4 {
  position: absolute;
  width: 269px;
  height: 306px;
  top: 377px;
  left: 441px;
  object-fit: cover;
}

.slide .firefly-5 {
  position: absolute;
  width: 269px;
  height: 304px;
  top: 377px;
  left: 829px;
  object-fit: cover;
}

.slide .firefly-6 {
  position: absolute;
  width: 269px;
  height: 304px;
  top: 377px;
  left: 1217px;
  object-fit: cover;
}

.slide .desktop-3 {
  top: 4320px;
  left: 379px;
  background-color: #279af8;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .overlap-11 {
  position: relative;
  height: 897px;
}

.slide .vector-3 {
  position: absolute;
  width: 1920px;
  height: 754px;
  top: 0;
  left: 0;
}

.slide .rectangle-5 {
  position: absolute;
  width: 367px;
  height: 90px;
  top: 183px;
  left: 386px;
  background-color: #b8ecff;
  border-radius: 30px 30px 0px 30px;
}

.slide .rectangle-6 {
  position: absolute;
  width: 547px;
  height: 90px;
  top: 183px;
  left: 1072px;
  background-color: #b8ecff;
  border-radius: 30px 30px 0px 30px;
}

.slide .text-wrapper-13 {
  position: absolute;
  width: 243px;
  top: 206px;
  left: 448px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 43.2px;
  white-space: nowrap;
}

.slide .text-wrapper-14 {
  position: absolute;
  width: 447px;
  top: 206px;
  left: 1122px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: 43.2px;
  white-space: nowrap;
}

.slide .group-5 {
  position: absolute;
  width: 754px;
  height: 606px;
  top: 291px;
  left: 194px;
  background-color: #ffffff;
  border-radius: 20px;
}

.slide .group-6 {
  position: absolute;
  width: 754px;
  height: 606px;
  top: 291px;
  left: 970px;
  background-color: #ffffff;
  border-radius: 20px;
}

.slide .element {
  width: 754px;
  height: 541px;
  top: 323px;
  left: 194px;
  position: absolute;
  object-fit: cover;
}

.slide .element-2 {
  width: 746px;
  height: 559px;
  top: 327px;
  left: 973px;
  position: absolute;
  object-fit: cover;
}

.slide .desktop-4 {
  top: 5400px;
  left: 379px;
  background-color: #279af8;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .overlap-12 {
  position: relative;
  width: 1911px;
  height: 895px;
  top: 185px;
}

.slide .overlap-13 {
  position: absolute;
  width: 1911px;
  height: 895px;
  top: 0;
  left: 0;
}

.slide .vector-4 {
  position: absolute;
  width: 1911px;
  height: 659px;
  top: 236px;
  left: 0;
}

.slide .text-wrapper-15 {
  position: absolute;
  top: 472px;
  left: 990px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000482;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 28.8px;
  white-space: nowrap;
}

.slide .text-wrapper-16 {
  position: absolute;
  width: 409px;
  top: 180px;
  left: 521px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1156cf;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 25.6px;
}

.slide .text-wrapper-17 {
  position: absolute;
  width: 444px;
  top: 521px;
  left: 990px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 25.6px;
}

.slide .firefly-7 {
  position: absolute;
  width: 569px;
  height: 345px;
  top: 0;
  left: 967px;
  object-fit: cover;
}

.slide .firefly-8 {
  position: absolute;
  width: 568px;
  height: 345px;
  top: 362px;
  left: 382px;
  object-fit: cover;
}

.slide .text-wrapper-18 {
  position: absolute;
  top: 132px;
  left: 521px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000482;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 28.8px;
  white-space: nowrap;
}

.slide .desktop-5 {
  top: 6480px;
  left: 379px;
  background-color: #000483;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .overlap-14 {
  position: relative;
  height: 1067px;
  background-image: url(./img/vector-3-2.svg);
  background-size: 100% 100%;
}

.slide .vector-5 {
  position: absolute;
  width: 1920px;
  height: 932px;
  top: 0;
  left: 0;
}

.slide .rectangle-7 {
  position: absolute;
  width: 1200px;
  height: 769px;
  top: 163px;
  left: 360px;
  background-color: #ebf7fd;
  border-radius: 22px;
}

.slide .rectangle-8 {
  position: absolute;
  width: 1200px;
  height: 93px;
  top: 50px;
  left: 360px;
  background-color: #ebf7fd;
  border-radius: 22px;
}

.slide .text-wrapper-19 {
  position: absolute;
  top: 67px;
  left: 388px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: 57.6px;
  white-space: nowrap;
}

.slide .text-wrapper-20 {
  position: absolute;
  top: 256px;
  left: 541px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-21 {
  position: absolute;
  top: 182px;
  left: 816px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-22 {
  position: absolute;
  top: 182px;
  left: 1394px;
  font-family: "Pretendard-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-23 {
  position: absolute;
  top: 331px;
  left: 610px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-24 {
  position: absolute;
  top: 407px;
  left: 506px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-25 {
  position: absolute;
  top: 483px;
  left: 633px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-26 {
  position: absolute;
  top: 560px;
  left: 704px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-27 {
  position: absolute;
  top: 636px;
  left: 408px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-28 {
  position: absolute;
  top: 710px;
  left: 493px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-29 {
  position: absolute;
  top: 765px;
  left: 456px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 35px;
}

.slide .text-wrapper-30 {
  position: absolute;
  top: 863px;
  left: 411px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .vector-6 {
  position: absolute;
  width: 6px;
  height: 737px;
  top: 179px;
  left: 1281px;
}

.slide .vector-7 {
  position: absolute;
  width: 1151px;
  height: 6px;
  top: 230px;
  left: 384px;
}

.slide .group-7 {
  position: absolute;
  width: 864px;
  height: 535px;
  top: 306px;
  left: 406px;
}

.slide .group-8 {
  position: absolute;
  width: 174px;
  height: 130px;
  top: 163px;
  left: 1601px;
  background-color: #ebf7fd;
  border-radius: var(--shape-corner-extra-large);
}

.slide .group-9 {
  position: relative;
  width: 148px;
  height: 62px;
  top: 28px;
  left: 12px;
}

.slide .text-wrapper-31 {
  position: absolute;
  width: 74px;
  top: 0;
  left: 70px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000482;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
}

.slide .text-wrapper-32 {
  position: absolute;
  width: 56px;
  top: 27px;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 96px;
  letter-spacing: 0;
  line-height: 26px;
}

.slide .group-10 {
  position: absolute;
  width: 174px;
  height: 130px;
  top: 326px;
  left: 1601px;
  background-color: #279af8;
  border-radius: var(--shape-corner-extra-large);
}

.slide .group-11 {
  width: 148px;
  left: 17px;
  position: relative;
  height: 62px;
  top: 28px;
}

.slide .group-12 {
  position: absolute;
  width: 174px;
  height: 130px;
  top: 489px;
  left: 1601px;
  background-color: #1a60d9;
  border-radius: var(--shape-corner-extra-large);
}

.slide .group-13 {
  width: 141px;
  left: 17px;
  position: relative;
  height: 62px;
  top: 28px;
}

.slide .element-3 {
  position: absolute;
  width: 67px;
  top: 0;
  left: 70px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000482;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
}

.slide .group-14 {
  position: absolute;
  width: 174px;
  height: 130px;
  top: 652px;
  left: 1601px;
  background-color: #000482;
  border-radius: var(--shape-corner-extra-large);
}

.slide .group-15 {
  width: 148px;
  left: 21px;
  position: relative;
  height: 62px;
  top: 28px;
}

.slide .text-wrapper-33 {
  position: absolute;
  width: 74px;
  top: 0;
  left: 70px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ebf7fd;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
}

.slide .text-wrapper-34 {
  position: absolute;
  width: 56px;
  top: 27px;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ebf7fd;
  font-size: 96px;
  letter-spacing: 0;
  line-height: 26px;
}

.slide .group-16 {
  position: absolute;
  width: 222px;
  height: 536px;
  top: 304px;
  left: 1308px;
}

.slide .desktop-6 {
  top: 7560px;
  left: 379px;
  background-color: #000483;
  overflow: hidden;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .vector-8 {
  position: absolute;
  width: 1918px;
  height: 629px;
  top: -2316px;
  left: 960px;
}

.slide .overlap-15 {
  position: absolute;
  width: 1918px;
  height: 916px;
  top: 164px;
  left: 0;
}

.slide .vector-9 {
  position: absolute;
  width: 1918px;
  height: 620px;
  top: 296px;
  left: 0;
}

.slide .group-17 {
  position: absolute;
  width: 1241px;
  height: 736px;
  top: 0;
  left: 388px;
}

.slide .group-18 {
  position: absolute;
  width: 887px;
  height: 140px;
  top: 0;
  left: 352px;
}

.slide .overlap-group-5 {
  position: relative;
  width: 885px;
  height: 140px;
  background-color: #ebf7fd;
  border-radius: 30px;
}

.slide .text-wrapper-35 {
  position: absolute;
  width: 772px;
  top: 59px;
  left: 57px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000482;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .group-19 {
  position: absolute;
  width: 887px;
  height: 140px;
  top: 149px;
  left: 352px;
}

.slide .overlap-16 {
  position: relative;
  width: 885px;
  height: 140px;
  background-color: #3fd8ff;
  border-radius: 30px;
}

.slide .text-wrapper-36 {
  position: absolute;
  width: 747px;
  top: 63px;
  left: 69px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000482;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .group-20 {
  position: absolute;
  width: 887px;
  height: 140px;
  top: 298px;
  left: 352px;
}

.slide .overlap-17 {
  position: relative;
  width: 885px;
  height: 140px;
  background-color: #279af8;
  border-radius: 30px;
}

.slide .text-wrapper-37 {
  position: absolute;
  width: 807px;
  top: 43px;
  left: 39px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000482;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .group-21 {
  position: absolute;
  width: 887px;
  height: 140px;
  top: 447px;
  left: 352px;
}

.slide .overlap-18 {
  position: relative;
  width: 885px;
  height: 140px;
  background-color: #1a60d9;
  border-radius: 30px;
}

.slide .text-wrapper-38 {
  position: absolute;
  width: 839px;
  top: 39px;
  left: 23px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #000482;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .group-22 {
  position: absolute;
  width: 887px;
  height: 140px;
  top: 596px;
  left: 352px;
}

.slide .overlap-19 {
  position: relative;
  width: 885px;
  height: 140px;
  background-color: #000482;
  border-radius: 30px;
}

.slide .text-wrapper-39 {
  position: absolute;
  width: 807px;
  top: 30px;
  left: 39px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ebf7fd;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .overlap-20 {
  position: absolute;
  width: 288px;
  height: 140px;
  top: 0;
  left: 0;
  background-color: #ebf7fd;
  border-radius: 30px;
}

.slide .text-wrapper-40 {
  position: absolute;
  top: 87px;
  left: 81px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-41 {
  position: absolute;
  top: 44px;
  left: 105px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .group-23 {
  position: absolute;
  width: 292px;
  height: 140px;
  top: 149px;
  left: 388px;
}

.slide .overlap-21 {
  position: relative;
  width: 288px;
  height: 140px;
  background-color: #3fd8ff;
  border-radius: 30px;
}

.slide .text-wrapper-42 {
  position: absolute;
  top: 87px;
  left: 82px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.slide .text-wrapper-43 {
  position: absolute;
  width: 216px;
  top: 44px;
  left: 36px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .group-24 {
  position: absolute;
  width: 292px;
  height: 140px;
  top: 298px;
  left: 388px;
}

.slide .overlap-22 {
  position: relative;
  width: 288px;
  height: 140px;
  background-color: #279af8;
  border-radius: 30px;
}

.slide .text-wrapper-44 {
  position: absolute;
  width: 152px;
  top: 87px;
  left: 68px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #1a60d9;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .text-wrapper-45 {
  position: absolute;
  width: 182px;
  top: 44px;
  left: 53px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .group-25 {
  position: absolute;
  width: 292px;
  height: 140px;
  top: 447px;
  left: 388px;
}

.slide .overlap-23 {
  position: relative;
  width: 288px;
  height: 140px;
  background-color: #1a60d9;
  border-radius: 30px;
}

.slide .text-wrapper-46 {
  position: absolute;
  width: 176px;
  top: 86px;
  left: 56px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #3fd8ff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .text-wrapper-47 {
  position: absolute;
  width: 253px;
  top: 44px;
  left: 17px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000482;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .group-26 {
  position: absolute;
  width: 292px;
  height: 140px;
  top: 596px;
  left: 388px;
}

.slide .overlap-24 {
  position: relative;
  width: 288px;
  height: 140px;
  background-color: #000482;
  border-radius: 30px;
}

.slide .text-wrapper-48 {
  position: absolute;
  width: 169px;
  top: 87px;
  left: 59px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #3fd8ff;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .text-wrapper-49 {
  position: absolute;
  width: 182px;
  top: 45px;
  left: 53px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ebf7fd;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.slide .overlap-25 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 8640px;
  left: 379px;
}

.slide .desktop-7 {
  top: 0;
  left: 0;
  background-color: #1a60d9;
  overflow: hidden;
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.slide .text-wrapper-50 {
  position: absolute;
  top: 317px;
  left: 993px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #3fd8ff;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 28.8px;
  white-space: nowrap;
}

.slide .text-wrapper-51 {
  position: absolute;
  top: 683px;
  left: 679px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #3fd8ff;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 28.8px;
  white-space: nowrap;
}

.slide .text-wrapper-52 {
  position: absolute;
  width: 387px;
  top: 365px;
  left: 993px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #b8ecff;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 25.6px;
}

.slide .element-4 {
  position: absolute;
  width: 394px;
  top: 732px;
  left: 540px;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #b8ecff;
  font-size: 16px;
  letter-spacing: -0.8px;
  line-height: 25.6px;
}

.slide .overlap-26 {
  position: absolute;
  width: 316px;
  height: 342px;
  top: 479px;
  left: 44px;
}

.slide .ellipse-2 {
  position: absolute;
  width: 235px;
  height: 235px;
  top: 0;
  left: 0;
}

.slide .ellipse-3 {
  position: absolute;
  width: 108px;
  height: 108px;
  top: 234px;
  left: 208px;
  background-color: #279af8;
  border-radius: 54px;
}

.slide .ellipse-4 {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 34px;
  left: 51px;
  background-color: #3fd8ff;
  border-radius: 33.5px;
}

.slide .ellipse-5 {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 251px;
  left: 230px;
  background-color: #3fd8ff;
  border-radius: 18.5px;
}

.slide .ellipse-wrapper {
  position: absolute;
  width: 167px;
  height: 167px;
  top: 411px;
  left: 1568px;
  background-color: #279af8;
  border-radius: 83.5px;
}

.slide .ellipse-6 {
  position: relative;
  width: 58px;
  height: 58px;
  top: 27px;
  left: 35px;
  background-color: #3fd8ff;
  border-radius: 29px;
}

.slide .overlap-27 {
  position: absolute;
  width: 108px;
  height: 108px;
  top: 943px;
  left: 1047px;
  background-color: #279af8;
  border-radius: 54px;
}

.slide .ellipse-7 {
  position: relative;
  width: 37px;
  height: 37px;
  top: 17px;
  left: 17px;
  background-color: #3fd8ff;
  border-radius: 18.5px;
}

.slide .overlap-28 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 155px;
  left: 1301px;
  background-color: #279af8;
  border-radius: 29.5px;
}

.slide .ellipse-8 {
  position: relative;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 12px;
  background-color: #3fd8ff;
  border-radius: 12px;
}

.slide .overlap-29 {
  position: absolute;
  width: 375px;
  height: 375px;
  top: 821px;
  left: 1632px;
  background-color: #279af8;
  border-radius: 187.5px;
}

.slide .ellipse-9 {
  position: relative;
  width: 109px;
  height: 109px;
  top: 60px;
  left: 55px;
  background-color: #3fd8ff;
  border-radius: 54.5px;
}

.slide .overlap-30 {
  position: absolute;
  width: 81px;
  height: 81px;
  top: 317px;
  left: 1783px;
  background-color: #279af8;
  border-radius: 40.5px;
}

.slide .ellipse-10 {
  position: relative;
  width: 30px;
  height: 30px;
  top: 12px;
  left: 17px;
  background-color: #3fd8ff;
  border-radius: 15px;
}

.slide .overlap-31 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 830px;
  left: 156px;
  background-color: #279af8;
  border-radius: 24px;
}

.slide .ellipse-11 {
  position: relative;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 9px;
  background-color: #3fd8ff;
  border-radius: 9px;
}

.slide .overlap-32 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 636px;
  left: 1796px;
  background-color: #279af8;
  border-radius: 24px;
}

.slide .ellipse-12 {
  position: relative;
  width: 20px;
  height: 20px;
  top: 7px;
  left: 9px;
  background-color: #3fd8ff;
  border-radius: 10px;
}

.slide .overlap-33 {
  position: absolute;
  width: 260px;
  height: 260px;
  top: 936px;
  left: 430px;
  background-color: #279af8;
  border-radius: 130px;
}

.slide .ellipse-13 {
  position: relative;
  width: 75px;
  height: 75px;
  top: 35px;
  left: 55px;
  background-color: #3fd8ff;
  border-radius: 37.5px;
}

.slide .overlap-34 {
  position: absolute;
  width: 568px;
  height: 413px;
  top: 117px;
  left: 385px;
}

.slide .firefly-9 {
  top: 4px;
  left: 3px;
  position: absolute;
  width: 562px;
  height: 409px;
  object-fit: cover;
}

.slide .firefly-10 {
  position: absolute;
  width: 568px;
  height: 413px;
  top: 0;
  left: 0;
}

.slide .firefly-11 {
  top: 530px;
  left: 970px;
  position: absolute;
  width: 562px;
  height: 409px;
  object-fit: cover;
}

.slide .star {
  position: absolute;
  width: 203px;
  height: 203px;
  top: 876px;
  left: 581px;
}
